/* Fondo claro y letra oscura */
ion-header, ion-toolbar, ion-title, ion-item-divider, ion-list, ion-row, ion-button {
    background-color: #f6f7fc; /* Ghost White */
    color: #000; /* Negro */
    
  }
  
  /* Fondo blanco para los elementos de la lista */
  ion-item,item-native {
    color: #000;
    background-color: f6f7fc; /* Blanco */
  }
  
  /* Borde superior verde */
  ion-item-divider {
    border-top: 2px solid #00bd9d; /* Mint */
    padding-top: 8px;
  }
  
  ion-content {
    background-color: #f0f0f0;
    margin: 0px;
  }
  
  /* Estilo de los botones */
  ion-button {
    background-color: #f6f7fc; /* Ghost White */
    color: #000; /* Negro */
  }
  
  input{
    margin: 6px;
    padding-top:2px;
    background-color: #cacaca;
    size:8px;
     /* Ghost White */
  }
  
  .boton, md button, button-full, button-solid, ion-activatable, ion-focusable, hydrated{
    background-color: #f6f7fc; /* Ghost White */
  }
  /* Estilo para los elementos de la lista */
  ion-list ion-label {
    background-color: #f6f7fc;
    color: #000; /* Negro */
  }
  
  /* Estilo para los inputs de la lista */
  ion-list ion-input {
    background-color: #8c8c8c;
    --color: #000; /* Negro */
  }
  
  /* Estilos para la imagen del negocio */
  .business-logo {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin: 2px auto;
    display: block;
  }
  
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* styles.scss */
  
  page-form {
    .head {
      .text {
        .main--text {
          font-weight: 500;
        }
      }
    }
  
    .ion-list {
      .ion-padding-top {
        .business-logo {
          /* Estilos para la imagen */
          max-width: 100px;
          height: auto;
        }
  
        .bottom--header {
          .main--text {
            font-weight: 500;
          }
  
          ion-item {
            ion-label {
              position: floating;
            }
  
            ion-input {
              background-color: #cfcfcf; /* Fondo gris para campos de entrada */
            }
          }
  
          ion-row {
            ion-col {
              ion-button {
                width: 100%;
                margin-top: 10px;
                white-space: normal; /* Permite el salto de línea en el botón */
              }
            }
          }
        }
      }
    }
  }
  
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  
  .head {
    height: 120px;
    background: #2A6041;
    width: 100%;
    .text{
      padding-top: 40px;
      padding-left: 20px;
      .main--text{
        margin: 0;
        font-size: 30px;
      }
      .secondary--text{
        margin: 0;
        font-size: 18px;
      }
    }
  }
  
  .bottom--header {
    height: 100%;
    background: white;
    width: 100%;
    p {
      margin: 0;
      color: #0D1821;
    }
  
  .button-solid {
      --background: #38ff49;
      --color: var(--ion-color-primary-contrast, #fff);
  }
  
  ion-label {
    padding-bottom: 10px;
  }
  
    .main--text{
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 24px;
      background-color: #8c8c8c;
      font-weight: 300px;
    }
  
    .scroll-container {
      padding-left: 24px !important;
      display: flex;
      overflow-x: auto;
      padding: 10px;
      gap: 30px; /* Ajusta el espaciado entre las cards según lo necesites */
      width: calc(100% + 20px); /* Asegúrate de incluir el margen derecho de las cards */
      .card {
        margin-bottom: 20px;
        background: #f0f0f0;
        border-radius: 10px;
        height: 300px;
        width: 300px; /* Ancho fijo para cada card */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        flex-shrink: 0; /* Evita que las cards se encogen */
        .card--content{
          ion-icon {
            color: #0D1821;
            font-size: 32px;  
          }
          padding-top: 24px;
          padding-left: 24px;
          .eye--account-number{
            ion-icon{
              font-size: 18px !important;
            }
          }
        }
      }
    }
  }
  