<ion-content style="background-color: antiquewhite;" class="ion-text-center" [fullscreen]="true" scrollY="false">
  <div class="header">
    <div class="texts">
      <p style="font-weight: 500;" class="main--text"> Resultado de la transacción</p>
    </div>
  </div>
  <div class="bottom--header">
    <div style="padding-top: 40px;">
      <ion-icon style="font-size: 80px;" name="checkmark-circle"></ion-icon>
      <p style="padding-top: 20px;">¡Transacción Exitosa!</p>
      <p>Gracias por tu pago.</p>
      <div style="display: flex; justify-content: center; padding-top: 30px;">
         <button style="    width: 300px;
         height: 40px;
         border-radius: 10px;
         font-size: 16px;
         background: #6B654B;"(click)="irAImprimirComprobante()">Imprimir comprobante</button>
      </div>
    </div>
  </div>
