<ion-content class="ion-text-center">
  <h2>Resultado de la Transacción</h2>
  <ion-card>
    <ion-card-content>
      <ng-container *ngIf="esTransaccionExitosa; else transaccionRechazada">
        <ion-icon name="checkmark-circle" size="large" color="success"></ion-icon>
        <p>¡Transacción Exitosa!</p>
        <p>Gracias por tu pago.</p>
        <ion-button expand="full" (click)="irAImprimirComprobante()">Imprimir Comprobante</ion-button>
      </ng-container>
      <ng-template #transaccionRechazada>
        <ion-icon name="close-circle" size="large" color="danger"></ion-icon>
        <p>Transacción Rechazada</p>
        <p>Intenta mas tarde.</p>
        <ion-button expand="full" (click)="irAImprimirComprobante()">Imprimir Comprobante</ion-button>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
