<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">qr</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">

    <div class="back--button" style="position: absolute; top: 0; left: 0; z-index: 1;">
      <button (click)="volverAtras()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </div>
    
    <div class="header--title">
      <p> <b>  {{ enlaceNombreVar }}  </b>  </p>
      <p> </p>
    </div>
    <div class="saldo">
      <p>  Copia el enlace de pago tocando código QR </p> 
      <div style="display: flex; justify-content: center; padding-top: 20px">
        <div *ngIf="qrCodeUrl">
          <img (click)="copiarAlPortapapeles('http://localhost:8100/pago/' + codigoEnlace)"
            style="border-radius: 25px;" [src]="qrCodeUrl" alt="Código QR">
        </div>
      </div>
    </div>

  </div>


</ion-content>
