
<ion-content [fullscreen]="true" scrollY="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <div class="texts">
      <p style="font-weight: 500;" class="main--text"> Comprobante de pago</p>
    </div>
  </div>

  <!-- Logo -->
  <div class="bottom--header">
  <div class="logo-container" >
    <div style="text-align: center;">
      <img src="\..\..\assets\img\logofc.png" alt="Logo" style="height: 100px; display:bloc">
      <p class="main--text"> Financiera Comultrasan </p>
    </div>
  </div>

  <!-- Información de Transacción -->
  <ion-card style="background-color: #8c8c8c;">
    <ion-card-header style="color: black;">
      Información de Transacción
    </ion-card-header>
    <ion-card-content>
      <p>Transacción realizada el: 18 de octubre de 2023</p>
      <p>Fecha de aplicación: 19 de octubre de 2023</p>
    </ion-card-content>
  </ion-card>

  <!-- Detalles -->
  <ion-card style="background-color: #8c8c8c;">
    <ion-card-header style="color: black;">
      Detalles
    </ion-card-header>
    <ion-card-content>
        <div class="label" style="background-color: #8c8c8c; color: black;">Monto:</div>
        <div class="label">$100.00</div>
        <div class="label">Descripción:</div>
        <div class="label">Descripción de los productos/servicios adquiridos.</div>
      <!-- Agrega más detalles si es necesario -->
    </ion-card-content>
    
  </ion-card>