/* Estilo CSS para el logotipo */
.logo {
    width: min-content; /* Ajusta el ancho según tus necesidades */
    height: min-content; /* Ajusta la altura según tus necesidades */
    display: block; /* Para centrar horizontalmente */
    margin: 0 auto; /* Para centrar horizontalmente */
    /* Agrega otros estilos como márgenes, colores, etc., según tus preferencias */
  }
  